body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 2em;
  margin: 0.67em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #EDAD30;
}


h2{
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 5%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

h2 a{
  color: #fff;
  text-decoration: none;
}

h2 a:hover{
  color: black;
  background: #EDAD30;
  padding: 5px;
  border-radius: 5px;
}

/* footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */

footer p{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EDAD30;
  padding: 20px;
  color: black;
  margin-bottom: 0;
}

footer p a{
  color: black;
  font-style: italic;
}
